.undo-button,
.redo-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.undo-button {
  background-color: #ff5733;
}

.redo-button {
  background-color: #33b5e5;
}

.undo-button:hover {
  background-color: #c70039;
}

.redo-button:hover {
  background-color: #0288d1;
}
